# python.exe pip install --upgrade pip
torch==2.3.0
datasets
peft
accelerate
transformers
bitsandbytes
trl
dataclasses
langchain==0.2.8
faiss-cpu
overrides==7.7.0
streamlit
python-dotenv==1.0.1
FlagEmbedding
ipykernel
pandas